<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EduInvestor</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
</head>
<body>
    <nav class="bg-gradient-to-r from-black via-gray-900 to-red-900 p-4 shadow-lg">
        <div class="container mx-auto flex justify-between items-center">
            <div class="flex items-center space-x-2">
                <img src="https://cdn.vectorstock.com/i/1000v/21/55/circle-school-education-icon-set-vector-27962155.avif" alt="EduInvestor Logo" class="h-8 w-8">
                <a routerLink="/"><h1 class="text-white text-2xl font-bold" style="font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">EduInvestor</h1></a>
            </div>
            <ul class="flex space-x-4">
                <li><button routerLink="/register" class="bg-[#111827] text-white hover:bg-blue-700 transition duration-300 font-bold py-2 px-4 rounded-full shadow-lg transform hover:scale-105">Register</button></li>
                <li><button routerLink="/login" class="bg-[#111827] text-white hover:bg-red-700 transition duration-300 font-bold py-2 px-4 rounded-full shadow-lg transform hover:scale-105">Login</button></li>
            </ul>
        </div>
    </nav>
</body>
</html>
