#regForm{
    width: 600px;
    
}
.password-toggle-icon {
    cursor: pointer;
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
}


  ::placeholder {
    color: rgb(255, 251, 251);
}
  
.alert {
    padding: 15px;
    position: fixed;
    top: 74px;
    right: 6px;
    background-color: #f44336; 
    color: white;
    border-radius: 4px;
  }
