<div class="container mx-auto p-4 bg-white shadow-md rounded-lg">
  <h2 class="text-3xl font-bold mb-6 text-center">Apply for Your Education Loan</h2>
  
  <div class="mb-6">
    <p class="text-gray-700">Fill out the form below to apply for an education loan. Our loans are designed to help you achieve your academic goals with ease. Please ensure all details are accurate and complete.</p>
  </div>

  <form [formGroup]="loanApplicationForm" (ngSubmit)="onSubmit()" class="max-w-lg mx-auto p-4 bg-white shadow-md rounded-lg">
    <div class="mb-4">
      <label for="selectedLoanId" class="block text-gray-700 font-bold mb-2">Select Loan</label>
      <select id="selectedLoanId" formControlName="selectedLoanId" [(ngModel)]="currentSelectedLoanId" (change)="selectedLoan()"
        class="w-full px-3 py-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500">
        <option *ngFor="let loan of loans" [value]="loan.loanId">
          <span>{{loan.loanType}}</span>
        </option>
      </select>
      <div *ngIf="loanApplicationForm.get('selectedLoanId').invalid && loanApplicationForm.get('selectedLoanId').touched" class="text-red-500">
        Please select a loan.
      </div>
    </div>
  
    <div class="mb-4">
      <label for="institution" class="block text-gray-700 font-bold mb-2">Institution</label>
      <input id="institution" type="text" formControlName="institution"
        class="w-full px-3 py-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500">
        <div *ngIf="loanApplicationForm.get('institution').invalid && loanApplicationForm.get('institution').touched" class="text-red-500">
          Institution is required.
        </div>
    </div>
  
    <div class="mb-4">
      <label for="course" class="block text-gray-700 font-bold mb-2">Course</label>
      <input id="course" type="text" formControlName="course"
        class="w-full px-3 py-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500">
        <div *ngIf="loanApplicationForm.get('course').invalid && loanApplicationForm.get('course').touched" class="text-red-500">
          Course is required.
        </div>
    </div>
  
    <div class="mb-4">
      <label for="tuitionFee" class="block text-gray-700 font-bold mb-2">Tuition Fee</label>
      <input id="tuitionFee" formControlName="tuitionFee" type="number" name="currentTutionFee" [(ngModel)]="currentTutionFee" (input)="validateTutionFee()"
        class="w-full px-3 py-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500">
      <span style="color: red;" *ngIf="errorLoanLimit!==null">{{errorLoanLimit}}</span>
      <div *ngIf="loanApplicationForm.get('tuitionFee').invalid && loanApplicationForm.get('tuitionFee').touched" class="text-red-500">
        Tuition Fee must be a positive number.
      </div>
    </div>
  
    <div class="mb-4">
      <label for="address" class="block text-gray-700 font-bold mb-2">Address</label>
      <input id="address" formControlName="address" type="text"
        class="w-full px-3 py-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500">
        <div *ngIf="loanApplicationForm.get('address').invalid && loanApplicationForm.get('address').touched" class="text-red-500">
          Address is required.
        </div>
    </div>
  
    <div class="mb-4">
      <label for="file" class="block text-gray-700 font-bold mb-2">Proof</label>
      <input id="file" formControlName="file" type="file" (change)="onFileSelected($event)"
        class="w-full px-3 py-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500">
        <div *ngIf="loanApplicationForm.get('file').invalid && loanApplicationForm.get('file').touched" class="text-red-500">
          Proof is required.
        </div>
    </div>
  
    <button type="submit" [disabled]="loanApplicationForm.invalid"
      class="w-full bg-blue-500 text-white py-2 px-4 rounded-md hover:bg-blue-600 disabled:opacity-50">
      Submit
    </button>
  </form>
  <div *ngIf="isApplicationSubmitted"
          class="fixed inset-0 flex items-center justify-center bg-black bg-opacity-50">
          <div class="bg-white p-6 rounded-md shadow-md text-center">
              <h2 class="text-2xl font-bold mb-4">Loan Applied Succesfully!!</h2>
              <button (click)="closePopup()"
                  class="bg-blue-500 text-white py-2 px-4 rounded-md hover:bg-blue-600">OK</button><br>
              <span>Click here for
                  <a routerLink="/applied-loan" style="color: blue;">View Applied Loans</a>
              </span>
          </div>
      </div>
  

  <div class="mt-6">
    <h3 class="text-xl font-bold mb-2">Why Apply for Our Education Loans?</h3>
    <p class="text-gray-700">Our education loans offer competitive interest rates, flexible repayment options, and minimal documentation. We are dedicated to supporting students in achieving their educational aspirations.</p>
  </div>

  <div class="mt-6">
    <h3 class="text-xl font-bold mb-2">Need Assistance?</h3>
    <p class="text-gray-700">If you have any questions or need help with your application, please contact our support team. We are here to assist you every step of the way.</p>
    <button class="bg-green-500 text-white font-bold py-2 px-4 rounded mt-2 hover:bg-green-700 transition duration-300">Contact Support</button>
  </div>
</div>
