.password-toggle-icon {
    cursor: pointer;
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
}

.backdrop-blur-md {
    --tw-backdrop-blur: blur(5px);
}

::placeholder {
    color: rgb(0, 0, 0);
}

.alert {
    padding: 15px;
    position: fixed;
    top: 74px;
    right: 6px;
    background-color: #f44336; 
    color: white;
    border-radius: 4px;
  }