<div class="bg-gradient-to-r from-red-100 via-gray-200 to-black p-4 shadow-lg">

  <div *ngIf="duplicateErrorMessage!==null"  class="alert alert-danger">
    {{duplicateErrorMessage}}
  </div>
  <form [formGroup]="loanForm" (ngSubmit)="onSubmit()" class="max-w-lg mx-auto p-4 bg-white shadow-md rounded-lg">
    <div class="mb-4">
      <label for="loanType" class="block text-gray-700 font-bold mb-2">Loan Type:</label>
      <input id="loanType" formControlName="loanType" class="w-full px-3 py-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500">
      <div *ngIf="loanForm.get('loanType').invalid && loanForm.get('loanType').touched" class="text-red-500 text-sm mt-1">
        Loan Type is required.
      </div>
    </div>
  
    <div class="mb-4">
      <label for="description" class="block text-gray-700 font-bold mb-2">Description:</label>
      <input id="description" formControlName="description" class="w-full px-3 py-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500">
      <div *ngIf="loanForm.get('description').invalid && loanForm.get('description').touched" class="text-red-500 text-sm mt-1">
        Description is required.
      </div>
    </div>
  
    <div class="mb-4">
      <label for="interestRate" class="block text-gray-700 font-bold mb-2">Interest Rate:</label>
      <input id="interestRate" formControlName="interestRate" class="w-full px-3 py-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500">
      <div *ngIf="loanForm.get('interestRate').invalid && loanForm.get('interestRate').touched" class="text-red-500 text-sm mt-1">
        Interest Rate is required.
      </div>
    </div>
  
    <div class="mb-4">
      <label for="maximumAmount" class="block text-gray-700 font-bold mb-2">Maximum Amount:</label>
      <input id="maximumAmount" formControlName="maximumAmount" class="w-full px-3 py-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500">
      <div *ngIf="loanForm.get('maximumAmount').errors?.required && loanForm.get('maximumAmount').touched" class="text-red-500 text-sm mt-1">
        Maximum Amount is required.
      </div>
      <div *ngIf="loanForm.get('maximumAmount').errors?.min && loanForm.get('maximumAmount').touched" class="text-red-500 text-sm mt-1">
        Maximum Amount >0.
      </div>
    </div>
  
    <div class="mb-4">
      <label for="repaymentTenure" class="block text-gray-700 font-bold mb-2">Repayment Tenure:</label>
      <input id="repaymentTenure" formControlName="repaymentTenure" class="w-full px-3 py-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500">
      <div *ngIf="loanForm.get('repaymentTenure').invalid && loanForm.get('repaymentTenure').touched" class="text-red-500 text-sm mt-1">
        Repayment Tenure is required.
      </div>
    </div>
  
    <div class="mb-4">
      <label for="eligibility" class="block text-gray-700 font-bold mb-2">Eligibility:</label>
      <input id="eligibility" formControlName="eligibility" class="w-full px-3 py-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500">
      <div *ngIf="loanForm.get('eligibility').invalid && loanForm.get('eligibility').touched" class="text-red-500 text-sm mt-1">
        Eligibility is required.
      </div>
    </div>
  
    <div class="mb-4">
      <label for="documentsRequired" class="block text-gray-700 font-bold mb-2">Documents Required:</label>
      <input id="documentsRequired" formControlName="documentsRequired" class="w-full px-3 py-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500">
      <div *ngIf="loanForm.get('documentsRequired').invalid && loanForm.get('documentsRequired').touched" class="text-red-500 text-sm mt-1">
        Documents Required is required.
      </div>
    </div>
  
    <button type="submit" [disabled]="loanForm.invalid" class="w-full bg-blue-500 text-white py-2 px-4 rounded-md hover:bg-blue-600 disabled:opacity-50">
      Submit
    </button>
  </form>
  
  <div *ngIf="isLoanAdded"
          class="fixed inset-0 flex items-center justify-center bg-black bg-opacity-50">
          <div class="bg-white p-6 rounded-md shadow-md text-center">
              <h2 class="text-2xl font-bold mb-4">Loan Added Succesfully!!</h2>
              <button (click)="closePopup()"
                  class="bg-blue-500 text-white py-2 px-4 rounded-md hover:bg-blue-600">OK</button><br>
              <span>Click here for
                  <a routerLink="/view-loan" style="color: blue;">View-Loans</a>
              </span>
          </div>
      </div>
</div>

