
<meta http-equiv="Content-Security-Policy" content="default-src 'self' https://www.google.com;">

<footer class="bg-gradient-to-r from-red-900 via-gray-900 to-red-900 p-4 shadow-lg">
    <div class="container mx-auto text-center text-white flex flex-col md:flex-row justify-between items-center">
        <div class="w-full md:w-1/2 mb-8 md:mb-0">
            <h2 class="text-3xl font-bold mb-4 cursor-pointer" [routerLink]="['/contactus']" routerLinkActive="router-link-active">Contact Us</h2>
            <p class="mb-4">Have any questions? Reach out to us at <a href="mailto:info@loanprovider.com" class="text-blue-300 hover:underline">info@loanprovider.com</a></p>
            <p class="mt-4">Powered by LtiMindtree Limited - Building nationally critical and population scale Digital Public Infrastructure for the nation.</p>
            <p>Best viewed in Chrome, Mozilla & Internet Explorer 10+</p>
        </div>
        <div class="w-full md:w-1/3 flex items-center justify-center">
            <iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3411.602109159042!2d73.02814507466606!3d19.110154150900442!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3be7c0fa95ff1789%3A0xed94f90522f1346b!2sLTIMindtree!5e1!3m2!1sen!2sin!4v1724840841039!5m2!1sen!2sin"
                width="70%"
                height="200"
                style="border:0;"
                allowfullscreen=""
                loading="lazy"
                referrerpolicy="no-referrer-when-downgrade">
            </iframe>
        </div>
    </div>
    <div class="text-center text-white mt-8">
        <p>Empowering your education dreams with easy and affordable loans.</p>
        <p>© 2024 Bank Admin. All rights reserved.</p>
    </div>
</footer>
